<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Comatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DW PORTFOLIO</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" async></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="logo-block">DW</div>
        </div>
        <div class="col-md-6 text-right text-uppercase">
          <h1 class="main-title text-thin head-block">Dawoon Choi</h1>
          <h4 class="head-block">Developer</h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="images/main_pic_mini.jpg" alt="main picture">
        </div>
      </div>

      <div class="row foot-title">
        <div class="col-md-12">
          <h2 class="text-muted head-block">Featured Work</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 content-col">
          <img class="img-responsive img-center" src="images/dw_wiki_s_mini.jpg" alt="screenshot of wiki page" data-toggle="modal" data-target="#image1">
          <a class="link-text" href="http://dw-wiki.appspot.com" target="_blank">
            <h3 class="footer">DW WIKI</h3>
          </a>
          <p class="text-muted"><a class="link-text" href="http://dw-wiki.appspot.com" target="_blank">http://dw-wiki.appspot.com</a>
          </p>
        </div>
        <div class="col-md-4 content-col">
          <img class="img-responsive img-center" src="images/dw_scalable_s_mini.jpg" alt="screenshot of conference central page" data-toggle="modal" data-target="#image2">
          <a class="link-text" href="https://dw-scalable.appspot.com" target="_blank">
            <h3 class="footer">Conference Central</h3>
          </a>
          <p class="text-muted"><a class="link-text" href="https://dw-scalable.appspot.com" target="_blank">https://dw-scalable.appspot.com</a>
          </p>
        </div>
        <div class="col-md-4 content-col">
          <img class="img-responsive img-center" src="images/dw_git_s_mini.jpg" alt="screenshot of GitHub page" data-toggle="modal" data-target="#image3">
          <a class="link-text" href="https://github.com/DawoonC" target="_blank">
            <h3 class="footer">GitHub</h3>
          </a>
          <p class="text-muted"><a class="link-text" href="https://github.com/DawoonC" target="_blank">https://github.com/DawoonC</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">DW WIKI</h4>
          </div>
          <div class="modal-body">
            <img class="img-responsive" src="images/dw_wiki_s_mini.jpg" alt="screenshot of wiki page">
            <hr>This web app was a final project for Udacity course cs253 (Web Development). The project was built on Google App Engine, and I've combined the project with Google Web Starter Kit.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel2">Conference Central</h4>
          </div>
          <div class="modal-body">
            <img class="img-responsive" src="images/dw_scalable_s_mini.jpg" alt="screenshot of conference central page">
            <hr>This web app was a final project for Udacity course ud859 (Developing Scalable Apps with Java). The project was built on Google App Engine.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel3">GitHub</h4>
          </div>
          <div class="modal-body">
            <img class="img-responsive" src="images/dw_git_s_mini.jpg" alt="screenshot of GitHub page">
            <hr>This is my GibHub page.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
